
@{
    ViewBag.Title = "Administrative interface";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Administrative interface</h1>

<table class="Grid">
    <tr>
        <td>@Html.ActionLink("Мanagement drinks", "Drink")</td>
        <td>@Html.ActionLink("Мanagement coins", "Coin")</td>
    </tr>
</table>
